*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#firstPageAnchorPane,#loginPageAnchorPane,#signupAnchorPane{
    -fx-background-color: linear-gradient(#77ff77, #87ea59, #a8ff94);
}

#loginVBox,#signupPageVBox{
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color:  darkgreen; /* Optional red border for emphasis */
    -fx-border-width: 3;

}

#mainTopic{
    -fx-font-family: "serif";
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
}
#lblLoginPageTopic,#lblTopicSignup{
    -fx-font-family: "serif";
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}
#lblUserName,#lblPassword,#lblFName,#lblLName,#lblUserName,#lblEmail,#lblPassword,#lblConfirmPW{
    -fx-font-family: "sans-serif";
    -fx-font-size: 16px;
}
#txtUserName,#txtPassword,#txtFName,#txtLName,#txtUserName,#txtEmail,#txtPW,#txtConfirmPW{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #87ea59;
    -fx-border-width: 1px;
    -fx-font-size: 15px;
    -fx-padding: 5 5 5 5;
}
#lblShown{
    -fx-font-family: "sans-serif";
    -fx-font-size: 13px;
}


#btnNext{
    -fx-background-color: darkgreen;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-text-fill:  white;
    -fx-font-family: "Arial Bold";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
    -fx-border-color:  black; /* Optional red border for emphasis */
    -fx-border-width: 0px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 2, 0, 2, 2);
    -fx-transition: all 0.3s ease;
}
#btnShowPw{
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill:  black;
    -fx-font-family: "serif";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 0 20 0 20;
    -fx-cursor: hand;
    -fx-border-color:  darkgreen;
    -fx-transition: all 0.3s ease;
}
#btnSignup,#btnLogin{
    -fx-background-color: darkgreen;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill:  white;
    -fx-font-family: "Arial Bold";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 2, 0, 2, 2);
    -fx-transition: all 0.3s ease;
}
#btnForgetPw{
    -fx-background-color: transparent;
    -fx-text-fill:  darkred;
    -fx-font-family: "Arial Bold";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

#btnBack{
    -fx-background-color: transparent;
    -fx-text-fill:  black;
    -fx-font-family: "Arial Bold";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
#btnForgetPw:hover{
    -fx-text-fill:  red;
}
#btnBack:hover{
    -fx-text-fill:  darkgreen;
}

#btnNext:hover,#btnShowPw:hover,#btnSignup:hover,#btnLogin:hover{
    -fx-background-color:  #87ea59;
    -fx-text-fill: darkgreen;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
#btnNext:pressed,#btnShowPw:pressed,#btnSignup:pressed,#btnLogin:pressed{
    -fx-text-fill: black;
    -fx-border-color: #3e3e3e;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 0, 1, 1);
}

#radioBtnAdmin,#rdBtnReceptionist{
    -fx-background-color: transparent;
    -fx-text-fill:  black;
    -fx-font-family: "Arial Bold";
    -fx-font-size: 15px;
    -fx-padding: 5 10 5 10;

}


